{% load static %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="/{% static "bootstrap.min.css" %}" rel="stylesheet">
    <title>IT-Sec</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">IT-Sec</a>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>