{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Загрузка файла</h1>
        </div>
        {{ form.errors }}
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input placeholder="Название файла"  class="form-control" name="viewname">
            <input placeholder="Файл"  class="form-control" name="formfile" type="file">
        <input type="submit" value="Загрузить"  class="btn btn-success navbar-btn">
        </form>
    </div>
{% endblock %}