{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="page-header ">
            <h1 style="">Загрузка изображений</h1>

            <form method="post" action="{% url 'files.upload' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input placeholder="Название файла"  class="form-control" name="viewname">
                <input placeholder="Файл"  class="form-control" name="formfile" type="file">
                <input type="submit" value="Загрузить"  class="btn btn-success navbar-btn">
            </form>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Предпросмотр</th>
                    <th>Название фото</th>
                    <th>Размер файла</th>
                    <th>Модель камеры</th>
                    <th>Дата создания фото</th>
                    <th>Дата загрузки фото</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr>
                    <td><img src="/media/thumbnails/thumb_{{ obj.id }}.jpg"></td>
                    <td>{{ obj.viewname }}</td>
                    <td>
                        {% if obj.length > 1048576 %}
                            {% widthratio obj.length 1048576 1 %} Mb
                        {% elif obj.length > 1024 %}
                            {% widthratio obj.length 1024 1 %} Kb
                        {% endif %}
                    </td>
                    <td>{{ obj.exif_model|default:'' }}</td>
                    <td>{{ obj.exif_created }}</td>
                    <td>{{ obj.uploaded }}</td>
                    <td><a class="btn btn-success btn-xs" href="{% url 'files.download' obj.id %}">Скачать</a>
                        <a class="btn btn-danger btn-xs" href="{% url 'files.delete' obj.id %}">Удалить</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}