{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            Вы действительно хотите удалить файл "{{ object }}"?
            <input type="submit" class="btn btn-danger" value="Да">
        </form>
    </div>
{% endblock %}